.layout {
  display: flex;
  min-height: 100%;

  &-main {
    flex: 1;
    margin-left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: margin-left var(--transition-slow);
  }

  &-collapsed &-main {
    margin-left: var(--sidebar-collapsed-width);
  }

  &-content {
    flex: 1;
    padding: 24px;
    background: var(--bg-main);
    overflow-y: auto;
  }
}