.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);

  &toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-base);
    flex-wrap: wrap;

    &-actions {
      display: flex;
      align-items: center;
      gap: var(--space-sm);
      flex-wrap: wrap;
    }
  }

}


.form-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-base);
}

@media (max-width: 1024px) {
  .form-grid-2 {
    grid-template-columns: 1fr;
  }
}